.aa{
    -fx-background-color: rgba(57, 28, 0, 0.5);
    -fx-background-radius: 15;
}
.text1{
    -fx-background-color: rgba(37, 28, 0, 0.5);
    -fx-background-radius: 15;
}
.LOGIN {
    -fx-background-color: #391C00;
    -fx-background-radius: 15;
}
.text2 {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 15;
    -fx-prompt-text-fill: #ffffff;
}
.forget{
    -fx-background-color: #B0B0B0;
}
.lable{
    -fx-border-color: #391C00;
    -fx-border-width: 1px;
}
.panemenu {
    -fx-background-color: #FAF0E6
;
}
.menu {
    -fx-background-color: rgba(57, 28, 0, 0.5);
    -fx-background-radius: 15;;
}
.adddemployee {
    -fx-background-color: rgba(57, 28, 0, 0.5);
}
.textemployee {
    -fx-background-color: rgba(247, 234, 221, 0.5);
    -fx-background-radius: 15;
}
.home {
    -fx-background-color: #391C00;
    -fx-background-radius: 15;
}
.textadopter {
    -fx-background-color: rgba(47, 23, 0, 0.5);
    -fx-background-radius: 15;
}